<?xml version="1.0"?>
<configuration>
  <!--<system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.web>
    <trust level="Full"/>
    -->
  <!--<customErrors mode="Off" defaultRedirect="Default.aspx"/>-->
  <!--
    <customErrors  mode="On" />
    <machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA" decryptionKey="123456789012345678901234567890123456789012345678" validation="SHA1" decryption="Auto"/>
    <compilation targetFramework="4.0"/>
    <pages></pages>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>   </system.web>-->
  <!--<system.web>
   
   
  </system.web>-->

  <connectionStrings>
    <add name="JalagamConnectionString" connectionString="Data Source=148.72.232.167;Initial Catalog=Jalagam;Persist Security Info=True;User ID=shailesh;Password=jhalak@0987"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
<trust level="Full"/>
    <customErrors mode="On"/>
    <!--<customErrors mode="RemoteOnly">
      <error statusCode="400" redirect="~/errorpages/error-400-bad-request" />
      <error statusCode="401" redirect="~/errorpages/error-401-unauthorized.aspx" />
      <error statusCode="402" redirect="~/errorpages/error-402-paymentrequired.aspx" />
      <error statusCode="403" redirect="~/errorpages/error-403-forbidden.aspx" />
      <error statusCode="404" redirect="~/errorpages/error-404-notfound.aspx" />
      <error statusCode="405" redirect="~/errorpages/error-405-method-not-allowed.aspx" />
      <error statusCode="406" redirect="~/errorpages/error-406-notacceptable.aspx" />
      <error statusCode="407" redirect="~/errorpages/error-407-proxy-authentication.aspx" />
      <error statusCode="408" redirect="~/errorpages/error-408-request-timeout.aspx" />
      <error statusCode="409" redirect="~/errorpages/error-409-conflict.aspx" />
      <error statusCode="410" redirect="~/errorpages/error-410-gone.aspx" />
      <error statusCode="411" redirect="~/errorpages/error-411-length-required.aspx" />
      <error statusCode="412" redirect="~/errorpages/error-412-precondition-failed.aspx" />
      <error statusCode="413" redirect="~/errorpages/error-413-request-entity-too-large.aspx" />
      <error statusCode="414" redirect="~/errorpages/error-414-request-uri-too-long.aspx" />
      <error statusCode="415" redirect="~/errorpages/error-415-unsupported-media-type.aspx" />
      <error statusCode="416" redirect="~/errorpages/error-416-requested-range-not-satisfiable.aspx" />
      <error statusCode="417" redirect="~/errorpages/error-417-expectation-failed.aspx" />
      <error statusCode="422" redirect="~/errorpages/error-422-unprocessable-entity.aspx" />
      <error statusCode="423" redirect="~/errorpages/error-423-locked.aspx" />
      <error statusCode="424" redirect="~/errorpages/error-424-failed-dependency.aspx" />
      <error statusCode="500" redirect="~/errorpages/error-500-internal-server-error.aspx" />
      <error statusCode="501" redirect="~/errorpages/error-501-not-implemented.aspx" />
      <error statusCode="502" redirect="~/errorpages/error-502-bad-gateway.aspx" />
      <error statusCode="503" redirect="~/errorpages/error-503-service-unavailable.aspx" />
      <error statusCode="504" redirect="~/errorpages/error-504-gatewaytimeout.aspx" />
      <error statusCode="505" redirect="~/errorpages/error-505-http-version-not-supported.aspx" />
      <error statusCode="507" redirect="~/errorpages/error-507-insufficient-storage.aspx" />
    </customErrors>-->
    <httpRuntime maxRequestLength="512000" executionTimeout="500"/>
    <authentication mode="Forms">
      <forms defaultUrl="Online-Cricket-Management-System-USA-India" loginUrl="Online-Cricket-Management-System-USA-India" slidingExpiration="true" timeout="60"/>
    </authentication>
    <authorization>
      <!--<allow roles="User"/>
      <deny users="*"/>-->
    </authorization>
    <sessionState timeout="60" cookieless="false" mode="InProc"/>
    <!--<httpCookies domain=".jalagammotors.com"/>-->
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.htm">
    </customErrors>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0,   Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0,   Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0,   Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="true" viewStateEncryptionMode="Auto" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral,   PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <!--<rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="SMTP-User" value="AKIAJP3JQRRLCEF6PSQA"/>
    <add key="SMTP-Pwd" value="AnG1zBSPy6RD8XtRYIiAzcP+aVvOtaZKMit5x+oGuZMG"/>
    <add key="SMTP-Host" value="email-smtp.us-west-2.amazonaws.com"/>
    <add key="PARAM1" value=""/>
    <add key="PARAM2" value=""/>
    <add key="PARAM3" value=""/>
    <add key="PARAM4" value=""/>
    <add key="PARAM5" value=""/>
    
      
    
     <!--<add key="GalleryPath" value="..\images\" />
    <add key="ThumbnailPath" value="..\Uploads\Thumbnails\" />-->
    <add key="GalleryPath" value="Uploads\ProductGallery\" />
    <add key="ThumbnailPath" value="Uploads\ProductGallery\Thumbnails\" />
    <add key="GalleryPathAcc" value="Uploads\AccessoriesGallery\" />
    <add key="ThumbnailPathAcc" value="Uploads\AccessoriesGallery\Thumbnails\" />
  </appSettings>
</configuration>